* {
  padding: 0;
  margin: 0;
}

.leftSideBox {
  background-color: #526FE4;
  display: inline-block;
  width: 12%;
  height: 100vh;
  color: white;
}

.rightSideBox {
  display: inline-block;
  width: 88%;
  height: 100vh;
  vertical-align: top;
  background-color: #F1F5FA;
}
.rightSideBox button {
  padding: 2px;
  margin: 7px 0px 0px 25px;
  font-size: 20px;
  border-radius: 5px;
}
.rightSideBox .rightMain {
  background-color: white;
  vertical-align: top;
  margin: 2% 1.5% 0% 1.5%;
  height: 88vh;
}
.rightSideBox .rightMain .calculatorText {
  margin-left: 35px;
}
.rightSideBox .rightMain .leftContainer {
  display: inline-block;
  border: 2px solid #F5F5F5;
  border-radius: 1%;
  width: 44%;
  height: 73vh;
  margin: 2% 1% 0% 3%;
  padding-left: 25px;
}
.rightSideBox .rightMain .leftContainer .sliderHead {
  display: inline;
}
.rightSideBox .rightMain .leftContainer .sliderHead .h3SliderHead {
  display: inline;
}
.rightSideBox .rightMain .leftContainer .input {
  display: inline;
  float: right;
  margin-right: 10px;
  background-color: #ECF1FC;
  border: none;
  text-align: center;
  width: 20%;
  height: 4vh;
}
.rightSideBox .rightMain .leftContainer .error {
  background-color: red;
  color: white;
  text-align: center;
  font-size: 18px;
  margin-top: 15px;
  padding-bottom: 5px;
}
.rightSideBox .rightMain .leftContainer .slider {
  margin-top: 25px;
}
.rightSideBox .rightMain .rightContainer {
  display: inline-block;
  border: 2px solid #F5F5F5;
  border-radius: 1%;
  width: 43%;
  height: 73vh;
  margin-top: 2%;
  vertical-align: top;
  padding-right: 3%;
}
.rightSideBox .rightMain .rightContainer .graphHeader {
  margin: 0px 0px 50px 35px;
  padding-top: 25px;
  color: #605e5e;
}
.rightSideBox .rightMain .rightContainer .graphHeader .totalAmount {
  color: #4B6AE2;
  padding-top: 5px;
  padding-bottom: 5px;
}
.rightSideBox .rightMain .rightContainer .graphHeader .timePeriod {
  color: black;
}
.rightSideBox .rightMain .rightContainer .graphHeader .potentialCapitalGain {
  color: #FFAD85;
}
.rightSideBox .rightMain .rightContainer .graphHeader .monthlyInvestment {
  color: #0BA77A;
}
.rightSideBox .rightMain .rightContainer .graphFooter {
  margin-left: 35px;
}
.rightSideBox .rightMain .rightContainer .h1errComp {
  color: red;
  text-align: center;
}
.rightSideBox .rightMain .rightContainer .h2errComp {
  color: green;
  text-align: center;
}

svg, .graphFooter {
  overflow: visible;
}

@media (max-width: 1636px) {
  .rightSideBox .rightMain .container .rightContainer {
    display: block;
    width: 48%;
  }
  .rightSideBox .rightMain .container .rightContainer, .rightSideBox .rightMain .container .leftContainer {
    font-size: small;
  }
  .rightSideBox .rightMain .container .leftContainer .slidersArea {
    overflow: hidden;
  }
  .rightSideBox .rightMain .container .rightContainer .calculatorText {
    font-size: larger;
    padding: 20px 5px;
  }
  .calculatorText h2, p {
    font-size: small;
  }
}
@media (max-width: 524px) {
  .leftSideBox {
    display: none;
  }
  .rightSideBox {
    width: 100%;
  }
  .rightSideBox .rightMain .container .rightContainer {
    width: 88%;
  }
  .rightSideBox .rightMain .container .leftContainer {
    width: 96%;
  }
  .calculatorText {
    font-size: 20px;
  }
}/*# sourceMappingURL=main.css.map */